@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sign Up";
}
<style>
body { 
  background-image: url('/img/sign-up-image.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  overflow-x:hidden;
}
</style>

@* Sign Up forms *@
<div class="container">

    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend style = "position:relative; left:390px;"><center><h2><b>Registration Form</b></h2></center></legend><br>

<!-- First Name-->
<div class="form-group margin-top-1-5" style = "position:relative; left:800px;">
  <label class="col-md-4 control-label">First Name</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <input  name="first_name" placeholder="First Name" class="form-control"  type="text" required>
    </div>
  </div>
</div>

<!-- Last Name-->
<div class="form-group margin-top-1-5" style = "position:relative; left:800px;">
  <label class="col-md-4 control-label" >Last Name</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <input name="last_name" placeholder="Last Name" class="form-control"  type="text" required>
    </div>
  </div>
</div>

  
<!-- Age-->

<div class="form-group margin-top-1-5" style = "position:relative; left:800px;">
  <label class="col-md-4 control-label">Age</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <input  name="age" placeholder="Age" class="form-control"  type="number" min="18" required>
    </div>
  </div>
</div>

<!-- Password-->

<div class="form-group margin-top-1-5" style = "position:relative; left:800px;">
  <label class="col-md-4 control-label" >Password</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <input name="user_password" placeholder="Password" class="form-control"  type="password" required>
    </div>
  </div>
</div>

<!-- Confirm Password-->

<div class="form-group margin-top-1-5" style = "position:relative; left:800px;">
  <label class="col-md-4 control-label" >Confirm Password</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <input name="confirm_password" placeholder="Confirm Password" class="form-control"  type="password" required>
    </div>
  </div>
</div>

<!-- Email-->
<div class="form-group margin-top-1-5" style = "position:relative; left:800px;">
  <label class="col-md-4 control-label">E-Mail</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <input name="email" placeholder="E-Mail Address" class="form-control"  type="text" required>
    </div>
  </div>
</div>


<!-- Phone-->
       
<div class="form-group margin-top-1-5" style = "position:relative; left:800px;">
  <label class="col-md-4 control-label">Phone</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <input name="phone" placeholder="Phone" class="form-control" type="tel" pattern="[0-9]{10}" required>
    </div>
  </div>
</div>

<!-- Button -->
<div class="form-group" style = "position:relative; left:975px;">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4"><br>
        <button type="submit" class="btn btn-primary" >Submit</button>
  </div>
</div>

</fieldset>
</form>
</div>
<!-- /.container -->

