:root {
    --p-color: #F5A472;
    --s-color: white;
    --b-color: black;
    --btn-color: #098486;
    --signup-color: #098486;
    /* #F5A472 #098486 */
}

a {
    text-decoration: none;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* For positioning the dropdown menu 
    of the profile logo at the navbar */
.drop-profile {
    position: absolute !important;
    right: 150px;
    top: 14px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}


.margin-0-5 {
    margin: 0.5em;
}

.margin-1 {
    margin: 1em;
}

.margin-1-5 {
    margin: 1.5em;
}

.margin-2 {
    margin: 2em;
}

.margin-2-5 {
    margin: 2.5em;
}

.margin-3 {
    margin: 3em;
}

.margin-3-5 {
    margin: 3.5em;
}

.margin-4 {
    margin: 4em;
}

.margin-4-5 {
    margin: 4.5em;
}

.margin-5 {
    margin: 5em;
}

/* Margin top only */
.margin-top-0-5 {
    margin-top: 0.5em;
}

.margin-top-1 {
    margin-top: 1em;
}

.margin-top-1-5 {
    margin-top: 1.5em;
}

.margin-top-2 {
    margin-top: 2em;
}

.margin-top-2-5 {
    margin-top: 2.5em;
}

.margin-top-3 {
    margin-top: 3em;
}

.margin-top-3-5 {
    margin-top: 3.5em;
}

.margin-top-4 {
    margin-top: 4em;
}

.margin-top-4-5 {
    margin-top: 4.5em;
}

.margin-top-5 {
    margin-top: 5em;
}

.margin-top-8 {
    margin-top: 8em;
}

.margin-bottom-5 {
    margin-bottom: 5em;
}

.margin-bottom-8 {
    margin-bottom: 8em;
}

@media (min-width: 576px) {
    .margin-sm-0-5 {
        margin: 0.5em;
    }

    .margin-sm-1 {
        margin: 1em;
    }

    .margin-sm-1-5 {
        margin: 1.5em;
    }

    .margin-sm-2 {
        margin: 2em;
    }

    .margin-sm-2-5 {
        margin: 2.5em;
    }

    .margin-sm-3 {
        margin-top: 3em;
    }

    .margin-sm-3-5 {
        margin: 3.5em;
    }

    .margin-sm-4 {
        margin-top: 4em;
    }

    .margin-4-5 {
        margin: 4.5em;
    }

    .margin-5 {
        margin: 5em;
    }

    /* Margin top only */
    .margin-top-sm-0-5 {
        margin-top: 0.5em;
    }

    .margin-top-sm-1 {
        margin-top: 1em;
    }

    .margin-top-sm-1-5 {
        margin-top: 1.5em;
    }

    .margin-top-sm-2 {
        margin-top: 2em;
    }

    .margin-top-sm-2-5 {
        margin-top: 2.5em;
    }

    .margin-top-sm-3 {
        margin-top: 3em;
    }

    .margin-top-sm-3-5 {
        margin-top: 3.5em;
    }

    .margin-top-sm-4 {
        margin-top: 4em;
    }

    .margin-top-sm-4-5 {
        margin-top: 4.5em;
    }

    .margin-top-sm-5 {
        margin-top: 5em;
    }
}
