.add-a-photo {
width: 8em;
height: 8em;
border-radius: 0.5em;
}

textarea {
    resize: none;
}

.btn-create {
    background-color: var(--p-color);
    color: var(--s-color);
    text-align: center;
    border-radius: 0.5em;
    color: black;
    width: 18.5em;
    height: 3em;
}
