
/* TODO: make them responsive instead of using fixed dimensions */
.card-imgs img {
    width: 31.25em;
    height: 17em;
}

.map_container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0 auto;
    width: 590px;
    height: 308px;
    position: relative;
}

    .map_container img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1
    }

.bg-img {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/pexels-alfonso-escalante-2533090.jpg");
    /* Full height */
    height: 50%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-p {
    background-color: var(--p-color);
    color: var(--s-color);
}

.btn-color {
    background-color: var(--btn-color);
    color: var(--s-color);
}

.FAQ-colors {
    color: var(--btn-color);
}