.pr_card-imgs img {
    width: 35em;
    height: 10em;
}

.btn-c {
    background-color: var(--p-color);
    color: var(--s-color);
    width: 6em;
    height: 2.5em;
    text-align: center;
    border-radius: 0.5em;
    color: black;
}
