@page "/signup"
@model RegisterModel
@{
    ViewData["Title"] = "Sign Up";
}

@* Sign Up forms *@
<body class="signup-bg">
<div class="container"style="width: 100%;overflow:auto;">

    <form class="well form-horizontal mb-4" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <fieldset>

            <!-- Form Name -->
            <legend class="d-flex justify-content-center" style = "position:relative;"><h2><b>Registration Form</b></h2></legend><br>

            <!-- First Name-->
            <div class="form-group margin-top-1k-5" style="position:relative;">
                <label class="col-md-4 control-label text-white" asp-for="Input.FirstName"></label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" />
                    </div>
                    <div class="error-message">
                        <span asp-validation-for="Input.FirstName"></span>
                    </div>
                </div>
            </div>

            <!-- Last Name-->
            <div class="form-group margin-top-1-5" style="position:relative;">
                <label class="col-md-4 control-label text-white" asp-for="Input.LastName"></label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" />
                    </div>
                    <div class="error-message">
                        <span asp-validation-for="Input.LastName"></span>
                    </div>
                </div>
            </div>

  
            <!-- Age-->
            <div class="form-group margin-top-1-5" style = "position:relative;">
                <label class="col-md-4 control-label text-white" asp-for="Input.Age"></label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input asp-for="Input.Age" class="form-control" autocomplete="number" min="18" aria-required="true" />
                    </div>
                    <div class="error-message">
                        <span asp-validation-for="Input.Age"></span>
                    </div>
                </div>
            </div>

            <!-- Password-->
            <div class="form-group margin-top-1-5" style = "position:relative;">
                <label class="col-md-4 control-label text-white" asp-for="Input.Password"></label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input id="pass" asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    </div>
                    <div class="error-message">
                        <span asp-validation-for="Input.Password"></span>
                    </div>
                </div>
            </div>

            <!-- Confirm Password-->
            <div class="form-group margin-top-1-5" style = "position:relative;">
                <label class="col-md-4 control-label text-white" asp-for="Input.ConfirmPassword"></label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input id="pass" asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    </div>
                    <div class="error-message">
                        <span asp-validation-for="Input.ConfirmPassword"></span>
                    </div>
                </div>
            </div>

             <!-- Email-->
            <div class="form-group margin-top-1-5" style = "position:relative;">
                <label class="col-md-4 control-label text-white" asp-for="Input.Email"></label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    </div>
                    <div class="error-message">
                        <span asp-validation-for="Input.Email"></span>
                    </div>
                </div>
            </div>


            <!-- Phone-->
            <div class="form-group margin-top-1-5" style = "position:relative;">
                <label class="col-md-4 control-label text-white" asp-for="Input.PhoneNumber"></label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phonenumber" aria-required="true" />
                    </div>
                    <div class="error-message">
                        <span asp-validation-for="Input.PhoneNumber"></span>
                    </div>
                </div>
            </div>

            <div class="mb-3 form-check " style = "position:relative;">
                    <input type="checkbox" class="form-check-input" onclick="showPassword()" id="showPass">
                    <label class="form-check-label" for="showPass">Show Password</label>
            </div>

        <!-- Button -->
        <div class="form-group" style = "position:relative;">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4"><br>
                <button type="submit" class="btn bg-signup text-white" id="submit">Submit</button>
            </div>
        </div>

        </fieldset>
        <div asp-validation-summary="ModelOnly" class="error-message"></div>
    </form>
</div>
</body>
<!-- /.container -->

<script>
function showPassword() {
  var x = document.getElementById("passw");
  var y = document.getElementById("pass");
  if (x.type === "password" || y.type === "password") {
    x.type = "text";
    y.type = "text";
  } else {
    x.type = "password";
    y.type = "password";
  }
}
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
