@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sign In";
}

@* Sign in forms *@
<section>
    <div class="d-flex justify-content-center justify-content-evenly margin-top-5">
        <div class="d-none d-lg-block flex-grow-1">
            <img src="~/img/sign-in-image.png" alt="guy with orange hat driving a blue car with his window open" />
        </div>
        <form class="m-5 m-lg-0 flex-fill">
            <div class="d-flex align-items-center">
                <h4>Sign In</h4>
            </div>
            <div class="mb-3 margin-top-1-5">
                <label for="SignInEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="SignInEmail" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="SignInPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="SignInPassword">
            </div>

            <div class="d-flex justify-content-between">
                <div class="mb-3 form-check ">
                    <input type="checkbox" class="form-check-input" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                </div>
                <button type="submit" class="btn btn-p">Sign in</button>
            </div>
        </form>
    </div>
</section>
