@model carsharing.Models.Renter
@{
    ViewData["Title"] = "Test";
}

@* Sign in forms *@
<section>
    <div>
        <h1>Welcome @Model.LastName @Model.FirstName!</h1>
        <h3>Your email is: @Model.Email</h3>
    </div>
</section>
