
@using Microsoft.AspNetCore.Identity
@using carsharing.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}


<div class="background-image">
    <div class="hero-card">
        <h2>Earn money by renting your car</h2>
        <p class="mb-4">
            From saving for your bills to preparing for a big event, renting your car can give you that extra income to fulfill your dreams.
        </p>
        <div class="align-self-center align-self-lg-start">
            <a class="action-link-btn" href="#learn">
                Learn more
            </a>
        </div>
    </div>
</div>


<div class="container mt-5 section-sep-4">
    <section>
        <h2 id="learn" class="fs-1 mb-2">Tips on renting your car</h2>
        <div class="fs-5">
            <p>When you’re ready to take your car rental business to the next level, you may be considering renting your car to a stranger. It’s a great way to earn extra money, but it’s important to be aware of the risks involved. Here are a few tips to help you rent your car safely to a stranger:</p>
            <ol>
                <li>
                    <p>Get to know the person. Ask them questions about themselves and their driving history. If they seem evasive or refuse to answer your questions, be wary.</p>
                </li>
                <li>
                    <p>Review their driver’s license. Make sure it’s valid and that they have a clean driving record.</p>
                </li>
                <li>
                    <p>Ask for a deposit. This will help cover any damages that may occur while they’re renting your car.</p>
                </li>
                <li>
                    <p>Make sure they have insurance. This will protect you in case of an accident.</p>
                </li>
                <li>
                    <p>Keep a record of the rental agreement. This will help if there are any disputes later on.</p>
                </li>
                <li>
                    <p>Be sure to stay in communication with the renter throughout their trip. This way, you can answer any questions they have and help out if they run into any trouble.</p>
                </li>
            </ol>
            <p>By following these tips, you can safely and successfully rent your car to strangers.</p>
        </div>

    </section>

    <section>
        <h2 class="fs-1 mb-2">Renting your car requirements</h2>

        <div class="fs-5">
            <p>
                To help create comfortable, reliable car ride for your renters, we ask all car owners to meet these requirements for each of their listings: 
            </p>

            <ul>
                <li>
                    <p><strong>Be responsive:</strong> Keep your response rate high by replying to car renting requests within 24 hours.</p>
                </li>
                <li>
                    <p><strong>Accept rent requests:</strong> Make renters feel happy by accepting requests whenever you’re available.</p>
                </li>
                <li>
                    <p><strong>Maintain a high overall rating:</strong> Renters expect a consistent level of quality, no matter which car they choose.</p>
                </li>
                <li>
                    <p><strong>Avoid canceling on renters:</strong> Take cancellations seriously and try to avoid them—they’re a huge inconvenience.</p>
                </li>
                <li>
                    <p><strong>Maintain your car</strong> The car must be in good working condition and pass a safety inspection.</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="mb-4">
        <h2 class="fs-1 mb-2">Ready to rent your car?</h2>
        <p class="fs-5">
            Your are one step away from renting your car, click the button bellow to begin your car renting business.
        </p>
        <div class="mt-4 fs-5">
            @Html.ActionLink("Start now", "BecomeOwner", "Renter", new { id = user.Id }, new { @class = "action-link-btn" })
        </div>
    </section>
</div>
