<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Unipi Cars</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/create_post.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/search_results.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/carsharing.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sign_up.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid justify-content-between justify-content-md-around">
                <div class="row">
                    <a class="navbar-brand col-4" asp-area="" asp-controller="Home" asp-action="Index">Unipi Cars</a>
                </div>
                <div>
                    <div class="d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 gap-3">
                            <a class= asp-area="" asp-controller="SignIn" asp-action="Index">Sign in</a>
                            <a class="sign-up-btn" asp-area="" asp-controller="SignUp" asp-action="Index">Sign up</a>
                        </ul>

                    </div>
                </div>

            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Unipi Cars - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script scr="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script scr="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
