@model carsharing.Models.SearchBar
@{
    ViewData["Title"] = "Home Page";
}

<section class="hero bg-img text-white">
<div class="d-flex justify-content-center">
   @* <br /><br /><br /><br />*@
</div>
<div class="d-flex justify-content-center margin-top-8">
    <h1 class="justify-content-center">Ενοικίαση αυτοκινήτου - Αναζητήστε, Συγκρίνετε και Εξοικονομήστε</h1>
</div>
<div  class="d-flex justify-content-evenly mt-5">
    <h5>✓Δωρεάν ακυρώσεις στις περισσότερες κρατήσεις</h5>
    <h5>✓60.000+ τοποθεσίες</h5>
    <h5>✓Εξυπηρέτηση πελατών σε 40+ γλώσσες</h5>
</div>

@* -- Search -- *@
<div class="d-flex flex-column align-items-center mt-2 margin-bottom-8">
    <form asp-controller="Search" asp-action="Results" method="get">
        <div class="d-inline-flex flex-column align-items-center flex-lg-row bg searchbar-sizing searchbar searchbar-lg p-color">

        
            <div class="align-self-center"> 
                <input asp-for="SearchField" type="text" class="form-control" placeholder="🔍Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div> 
        
            <div class="d-flex insides">
                <div>
                    <input asp-for="DateFrom" type="date" class="form-control" aria-describedby="basic-addon2">
                </div> 
                <div class="d-flex">
                    @*<label for="cars">Time from:</label>*@
                    <select asp-for="TimeFrom" asp-items="Model.SelectTimeFrom">
                    </select> 

                 </div>


            </div>

            <div class="d-flex insides">

                <div>
                    <input asp-for="DateTo" type="date" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div> 
                <div class="d-flex">
                    @*<label for="cars">Time from:</label>*@
                    <select  asp-for="TimeTo" asp-items="Model.SelectTimeTo">
                    </select> 

                 </div>


            </div>

        
            <div class="align-self-center">
                <button class="search-btn">Search</button>
            </div>

        </div>
    </form>
</div>
<div  class="d-flex justify-content-evenly">
    @* <br /><br /><br /><br />*@
</div>
</section>

@* -- Top rated cars -- *@
<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
        <div class="col-12 col-lg-10">
            <h3 class="mb-3">Top Rated </h3>
        </div>
        <div class="col col-lg-2 text-right">
            <a class="btn btn-color mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <img src="/img/chevron_left_white_24dp.svg"  />
            </a>
            <a class="btn btn-color mb-3 " href="#carouselExampleIndicators2" role="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <img src="/img/navigate_next_white_24dp.svg"  />
            </a>
        </div>
        <div class="col-12">
            <div id="carouselExampleControls" class="carousel slide card-imgs" data-bs-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="https://s2.qwant.com/thumbr/0x380/f/0/ab0445bbbcbb3431d917781bc8b98931173ea74564828258a5eacaabc77aba/picture-opel-corsa-electrico-2022_0.jpg?u=https%3A%2F%2Fwww.newestcarsdesign.com%2Fwp-content%2Fuploads%2F2020%2F11%2Fpicture-opel-corsa-electrico-2022_0.jpg&q=0&b=1&p=0&a=0" width="500">
                                    <div class="card-body">
                                        <h4 class="card-title">Title</h4>
                                        <p class="card-text">Description</p>
                                        <a href="#" class="btn btn-color">View more</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="https://s2.qwant.com/thumbr/0x380/c/d/45af8e602d3c68c68ee298d465d9db7f398b32ffe23b25085b9b2f84cf57c4/VOLKSWAGEN-POLO-2022.jpg?u=https%3A%2F%2Fautotest.com.ar%2Fwp-content%2Fuploads%2F2021%2F05%2FVOLKSWAGEN-POLO-2022.jpg&q=0&b=1&p=0&a=0" width="500">
                                    <div class="card-body">
                                        <h4 class="card-title">Title</h4>
                                        <p class="card-text">Description</p>
                                        
                                        <a href="#" class="btn btn-color">View more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="https://s2.qwant.com/thumbr/0x380/f/7/69231d9495f024a31b00a08c172e63326c3f95b2b44f722a247f9326ff91de/Seat-Ibiza-2022-1024-01.jpg?u=https%3A%2F%2Fautomania.digital%2Fwp-content%2Fuploads%2F2021%2F04%2FSeat-Ibiza-2022-1024-01.jpg&q=0&b=1&p=0&a=0">
                                    <div class="card-body">
                                        <h4 class="card-title">Title</h4>
                                        <p class="card-text">Description</p>
                                        
                                        <a href="#" class="btn btn-color">View more</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="https://s1.qwant.com/thumbr/700x0/9/9/d2ea69a07100a29b5ac235bd34b13cee6c125b6e2e7bdf1ee33fdf4205b458/Nuova-Opel-Astra-2022-1.jpg?u=https%3A%2F%2Fwww.reportmotori.it%2Fwp-content%2Fuploads%2F2021%2F02%2FNuova-Opel-Astra-2022-1.jpg&q=0&b=1&p=0&a=0">
                                    <div class="card-body">
                                        <h4 class="card-title">Title</h4>
                                        <p class="card-text">Description</p>
                                        
                                        <a href="#" class="btn btn-color">View more</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="https://s2.qwant.com/thumbr/0x380/f/a/78f13dd7dc2c962677a919fd9e313dfbf997383a42c7a6c5b8e85b379d4cfe/2022-mini-jcw-lead-image.jpg?u=https%3A%2F%2Fcdn.motor1.com%2Fimages%2Fmgl%2FR0r6x%2Fs1%2F2022-mini-jcw-lead-image.jpg&q=0&b=1&p=0&a=0">
                                    <div class="card-body">
                                        <h4 class="card-title">Title</h4>
                                        <p class="card-text">Description</p>
                                        <a href="#" class="btn btn-color">View more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="https://s1.qwant.com/thumbr/0x380/9/1/896ba3ec1519fbeae96939c3fb072a7e06613c8793d874026583d41bfb4cff/2022-explorer-st_line_0.jpg?u=https%3A%2F%2Fcdn.motor1.com%2Fimages%2Fmgl%2Fkpn7x%2Fs1%2F2022-explorer-st_line_0.jpg&q=0&b=1&p=0&a=0">
                                    <div class="card-body">
                                        <h4 class="card-title">Title</h4>
                                        <p class="card-text">Description</p>

                                        <a href="#" class="btn btn-color">View more</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="https://s1.qwant.com/thumbr/0x380/1/e/df9456482a27c60e33f41e1505f6f7433fcd049050a999b011d3251dd0e0cf/2022-Toyota-Yaris-Color-Options-768x510.jpg?u=https%3A%2F%2Ftoyota2022.com%2Fwp-content%2Fuploads%2F2020%2F09%2F2022-Toyota-Yaris-Color-Options-768x510.jpg&q=0&b=1&p=0&a=0">
                                    <div class="card-body">
                                        <h4 class="card-title">Title</h4>
                                        <p class="card-text">Description</p>
                                        <a href="#" class="btn btn-color">View more</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="https://s1.qwant.com/thumbr/0x380/b/d/fa0052b76a7e762ee1c99eeb0abc6f6a18c4defd4988634ced0583ef626c72/200110-sf90-spider.jpg?u=https%3A%2F%2Fwww.autobild.es%2Fsites%2Fautobild.es%2Fpublic%2Fdc%2Ffotos%2F200110-sf90-spider.jpg&q=0&b=1&p=0&a=0">
                                    <div class="card-body">
                                        <h4 class="card-title">Title</h4>
                                        <p class="card-text">Description</p>
                                        
                                        <a href="#" class="btn btn-color">View more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="https://s2.qwant.com/thumbr/0x380/d/6/4961c0d73a7c6297f5bb6e5ae0751b3b97a5cf441498f53146b7599dbf2aed/2022-Bugatti-Chiron-Spy-Photos.jpg?u=http%3A%2F%2Fpostmonroe.com%2Fwp-content%2Fuploads%2F2020%2F07%2F2022-Bugatti-Chiron-Spy-Photos.jpg&q=0&b=1&p=0&a=0">
                                    <div class="card-body">
                                        <h4 class="card-title">Title</h4>
                                        <p class="card-text">Description</p>
                                        <a href="#" class="btn btn-color">View more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

@* -- General Info and FAQ -- *@

<section class="container">
    <div class="d-flex justify-content-evenly"> 
        <div class="container">
            <h3>Top tips for renting a car in Greece</h3>
            <div>
                <p>
                    🔸 When driving in Greece, you  need to be aware that it is forbidden to give way to traffic and change lanes at intersections when entering a roundabout. You are also not allowed to overtake cars  at corners, bottlenecks, steps or pedestrian crossings.
                </p>

                <p>
                    🔸 If you need to park your rental car in Greece, you can only park in the designated parking space using the parking violation ticket system. Parking spaces marked in blue are short-term parking spaces that can be parked for up to 3 hours at a time.
                </p>

                <p>
                    🔸 In Greece, child  seats are mandatory for children up to 4 years old. If your child is less than 1.35m (4ft) and is 3-11 years old, they need to move in a suitable child seat. Also, children under the age of  10 are not allowed  in the passenger seat of a car. It is advisable to rent a car seat from the car rental company as these laws also apply to all round-trip trips to and from the airport. This costs around  € 7.95 ($ 8.90) or more per day.
                </p>

                <p>
                    🔸 If you want to travel to the capital, Athens, or to other cities like Piraeus, Evzonoi and Thessaloniki, you can take the A1 motorway. If you like the road trip from Athens to Chalcis, take the A11 and drive 78km. To discover northern Greece, including the border between Bulgaria and Turkey, you need to take the A2 road.
                </p>

            </div>
        </div>

         <div class="container">
            <h3>FAQs about renting a car in Greece</h3>
            <div>
                <p>
                  <a class="FAQ-colors" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                    How much does it cost to rent a car in Greece?
                  </a>
                </p>
                <div class="collapse" id="collapseExample1">
                  <div class="card card-body">
                    On average a rental car in Greece costs $25 per day.
                  </div>
                </div>

                <p>
                  <a class="FAQ-colors" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                    What is the most popular rental car in Greece?
                  </a>
                </p>
                <div class="collapse" id="collapseExample2">
                  <div class="card card-body">
                    Economy (Fiat Panda or similar) is the most frequently booked rental car type in Greece.
                  </div>
                </div>

                <p>
                  <a class="FAQ-colors" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                    How can I find car rentals near me in Greece?
                  </a>
                </p>
                <div class="collapse" id="collapseExample3">
                  <div class="card card-body">
                    Take a look at our extensive car rental location map to find the best rental cars near you.
                  </div>
                </div>

                <p>
                  <a class="FAQ-colors" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
                     Where should I rent a car in Greece?
                  </a>
                </p>
                <div class="collapse" id="collapseExample4">
                  <div class="card card-body">
                    The most popular cities to rent a car in Greece are Athens, Heraklion and Chania.
                  </div>
                </div>

                <p>
                  <a class="FAQ-colors" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">
                    How much does it cost to rent a car for a week in Greece?
                  </a>
                </p>
                <div class="collapse" id="collapseExample5">
                  <div class="card card-body">
                    On average a rental car in Greece costs $360 per week ($51 per day).
                  </div>
                </div>

                <p>
                  <a class="FAQ-colors" data-bs-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">
                    How much does it cost to rent a car long term for a month in Greece?
                  </a>
                </p>
                <div class="collapse" id="collapseExample6">
                  <div class="card card-body">
                    On average a rental car in Greece costs $1,543 per month ($51 per day).
                  </div>
                </div>

                <p>
                  <a class="FAQ-colors" data-bs-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample">
                    What is driving like in Greece?
                  </a>
                </p>
                <div class="collapse" id="collapseExample7">
                  <div class="card card-body">
                    When you drive your rental car in Greece, you will need to remember to drive on the right-hand side of the road and to always wear your seat belt. The use of mobile phones is prohibited while driving, as is consuming alcohol. When you encounter a sign with a green background, this will signify a highway. Expressway signs have a white car symbol on a blue background. You will find that all major highways in Greece are toll roads.
                  </div>
                </div>

                <p>
                  <a class="FAQ-colors" data-bs-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample">
                    How old do you have to be to be driving a car in Greece?
                  </a>
                </p>
                <div class="collapse" id="collapseExample8">
                  <div class="card card-body">
                    You have to be at least 21 years old and have held your driver’s license for a minimum of three years to rent a car in Greece. If you are under the age of 25, you may have to pay a young driver surcharge. You will need to provide a valid driver’s license if you are from the EU and have an international driver’s permit if you are from a non-EU country.
                  </div>
                </div>

                <p>
                  <a class="FAQ-colors" data-bs-toggle="collapse" href="#collapseExample9" role="button" aria-expanded="false" aria-controls="collapseExample">
                    What are the speed limits in Greece?
                  </a>
                </p>
                <div class="collapse" id="collapseExample9">
                  <div class="card card-body">
                    To drive safely around Greece, you must be familiar with the speed limits. In towns and urban areas, the limit is between 80 km/h (50 mph) and 90 km/h (56 mph), while within the city of Athens and its outskirts, the maximum speed limit is 50 km/h (31 mph). On the highway, the speed limit ranges from 100 km/h (62 mph) to 120 km/h (75 mph).
                  </div>
                </div>

            </div>
        </div>

    </div>

</section>
