@model carsharing.ViewModels.ResultsViewModel;
@{
    ViewData["Title"] = "Search Results";
}

@* Add the search functionality here too *@

@* Results section *@
<section>
    <div class="container">
        <div class="row">

            @foreach(var post in Model.Posts.ToList())
            {
                <div class="col mt-4">
                    <div class="card" style="width: 18rem;">
                        <img src="@post.ThumbnailUrl" class="card-img-top" alt="image">
                         <div class="card-body">
                            <h5 class="card-title">@post.Title</h5>
                            <p class="card-text">Description</p>
                            <p class="card-text">@post.Owner.FirstName @post.Owner.LastName</p>
                            <a href="#" class="btn btn-color">View more</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

</section>
